.menu-builder-admin-button-bank {
	margin: 10px 0;
	text-align: right;
}

.menu-builder-manage .ui-sortable-placeholder {
	visibility: visible !important;
	border: 1px dashed #ccc;
    border-radius: 5px;
    margin-bottom: 2px;
}

.menu-builder-manage a {
	border: 1px solid red;
	display: block;
	padding: 5px;
	color: #333;
	cursor: pointer;
	text-decoration: none;
	margin-bottom: 2px;
	border: 1px solid #CCC;
	border-radius: 5px;
}
.menu-builder-manage a:hover {
	text-decoration: none;
	background: black;
	color: white;
	border: 1px solid black;
}
.menu-builder-manage .elgg-child-menu {
	padding-left: 30px;
}
